<div class="container-fluid w-75 shadow mt-5 rounded border p-4 bgcolor bg-gradient" >
  <div class="text-light">
    <%= link_to 'â†', root_path, class: 'linkcolor' %>
    <h1>Attempt Assessment: <%= @assessment.title %></h1>

    <%= form_for @assessment, url: submit_assessment_path(@assessment), method: :post do |f| %>
      <% @questions.each do |question| %>
        <p><%= question.content %></p>
        <% question.options.each do |option| %>
          <%= radio_button_tag "answers[#{question.id}]", option.id %>
          <%= label_tag "answers[#{question.id}]", option.content %><br>
        <% end %>
      <% end %>
      <%= f.submit 'Submit', class: 'btn btn-light mt-4' %>
    <% end %>
  </div>
</div>
