<div class="container-fluid w-75 shadow mt-5 rounded border p-4 bgcolor bg-gradient" >
  <%= link_to 'â†', admin_projects_path, class: 'linkcolor' %>
  <h1 class= "text-light">Assessments for <%= @project.title %></h1>
  <table class="table table-sm">
    <thead class="text-light text-center">
      <th>ID</th>
      <th>Title</th>
      <th>Action</th>
    </thead>
    <tbody class="text-light text-center">
      <% @project.assessments.each do |assessment| %>
        <tr>
          <td><%= assessment.id %></td>
          <td><%= assessment.title %></td>
          <td>
            <%= link_to "Show", admin_project_assessment_path(@project, assessment), class: 'linkcolor' %>
            <%= link_to 'Edit', edit_admin_project_assessment_path(@project, assessment), class: 'linkcolor' %>
            <%= link_to 'Delete', admin_project_assessment_delete_modal_path(@project, assessment.id), remote: true, class: 'linkcolor' %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
  
  <%= link_to 'Add a New Assessment', new_admin_project_assessment_path(@project, @assessment), class: 'btn btn-light' %>
</div>
<div id='open-delete-modal'></div>
