<div class="container-fluid w-75 shadow mt-5 rounded border p-4 bg-dark">
  <%= link_to "Back", admin_project_assessment_path(@project, @assessment) %>
  <h3 class= "text-light">Results for <%= @assessment.title %></h3>

  <table class="table table-sm">
    <thead class= "text-light">
      <tr>
        <th>User</th>
        <th>Score</th>
        <th>Answers</th>
        <th>Details</th>
      </tr>
    </thead>
    <tbody class= "text-light">
      <% @results.each do |result| %>
        <tr>
          <td><%= result.user.username %></td>
          <td><%= result.score %></td>
          <td><%= result.answers %></td>
          <td><%= link_to 'View', admin_project_assessment_result_path(@project, @assessment, result) %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
