<div class="container-fluid w-75 shadow mt-5 rounded border p-4 bg-gradient bgcolor">
  <%= link_to 'â†', admin_project_assessment_path(@project, @assessment), class: 'linkcolor' %>
  <h3 class= "text-light">Results for <%= @assessment.title %></h3>

  <table class="table table-sm">
    <thead class= "text-light text-center">
      <tr>
        <th>User</th>
        <th>Score</th>
        <th>Details</th>
      </tr>
    </thead>
    <tbody class= "text-light text-center">
      <% @results.each do |result| %>
        <tr>
          <td><%= result.user.username %></td>
          <td><%= result.score %></td>
          <td><%= link_to 'View', admin_project_assessment_result_path(@project, @assessment, result), class: 'linkcolor' %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
