<div class="container-fluid w-75 shadow mt-5 rounded border p-4 bg-gradient bgcolor text-light">
  <h1>Result Details</h1>

  <p>
    <strong>User:</strong>
    <%= @result.user.username %>
  </p>

  <p>
    <strong>Score:</strong>
    <%= @result.score %>
  </p>

  <p>
    <strong>Assessment:</strong>
    <%= @assessment.title %>
  </p>

  <p>
    <strong>Project:</strong>
    <%= @project.title %>
  </p>
      
  <table class="table table-sm">
    <thead class= "text-light text-center">
      <th>Question</th>
      <th>Selected Answer</th>
      <th>Correct Answer</th>
    </thead>
    <tbody class= "text-light text-center">
      <% @result.user_answers.includes(:question, :selected_option).each do |user_answer| %>
      <% question = user_answer.question %>
      <% selected_option = user_answer.selected_option %>
      <% correct_option = question.options.find_by(correct: true) %>
        <tr>
          <td><%= question.content %></td>
          <td><%= selected_option ? selected_option.content : 'No answer selected' %></td>
          <td><%= correct_option ? correct_option.content : 'No correct option' %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
  
  <p>
    <strong>Want to Delete?</strong>
    <%= link_to 'Delete', admin_project_assessment_result_path(@project, @assessment, @result), method: :delete, data: { confirm: 'Are you sure?' }, class: 'linkcolor' %>        
  </p>
  <%= link_to 'Back to Results', admin_project_assessment_results_path(@project, @assessment), class: 'btn btn-light' %>
</div>
