<div class="container-fluid w-75 shadow mt-5 rounded border p-4 bg-dark">
  <%= link_to "Back", admin_projects_path %>
  <div class="text-light text-center">
    <h3>Project:<%= @project.id %></h3>
    <p><b>Project_Title: </b><%= @project.title %></p>
    <p><b>Project_Description: </b><%= @project.description %></p>
    <p><b>Start_date: </b><%= @project.start_date %></p>
    <p><b>End_date: </b><%= @project.end_date %></p>
    <p><b>Project_Status: </b><%= @project.status %></p>
  </div>
 </div>
