<%= form_for([@project, @assessment, @question], url: admin_project_assessment_question_path(@project, @assessment, @question), html: { local: true }) do |form| %>
  <% if @question.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@question.errors.count, "error") %> prohibited this question from being saved:</h2>

      <ul>
        <% @question.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <div class="field">
    <%= form.label :content, "Write Question Content" %> 
    <%= form.text_area :content %>
  </div>

  <h3>Options</h3>
  <div id="options">
    <%= form.fields_for :options do |option_form| %>
      <div class="field">
        <%= option_form.label :content, "Option Content" %>
        <%= option_form.text_field :content %>

        <%= option_form.check_box :correct %>
        <%= option_form.label :correct, "Correct?" %>
      </div>
    <% end %><br>
  </div>

  <div class="actions">
    <%= form.submit class: 'btn btn-secondary' %>
  </div>
<% end %>
