<!DOCTYPE html>
<html>
  <head>
    <title>AssessmentPortal</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
    <div class="container-fluid">
      <div class="row flex-nowrap">
        <div class="col-auto col-md-3 col-xl-2 px-sm-2 px-0 bgcolor rounded border bg-gradient">
          <%= render 'navbar/navbar', project: @project, assessment: @assessment, result: @result %>
        </div>
        <main class="col px-4">
          <%= yield %>
        </main>
      </div>
    </div>
  </body>
</html>
